<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/">
        GO BACK
    </a>
</button>

<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">email</th>
        <th scope="col">created_at</th>
    </tr>
    </thead>
    <tbody>
    {{#each weapons}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.email}}</td>
            <td>{{this.created_at}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>