<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/students">
        GO BACK
    </a>
</button>
<form method="POST" action="{{action}}">
    <fieldset>
        <label>
            First name
            <input
                    name="first_name"
                    placeholder="First name"
                    autocomplete="given-name"
            />
        </label>
        <label>
            Last name
            <input
                    name="last_name"
                    placeholder="Last name"
                    autocomplete="family-name"
            />
        </label>
    </fieldset>

    <input
            type="submit"
            value="SAVE"
    />
</form>